.button, .column, .input, .label, .title, .text-area {
    -fx-font-family: "Geist";
}

.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button, .input {
    -fx-pref-height: 32px;
}

.text-area {
    -fx-pref-height: 64px;
}

.text-notable {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}